{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Railway Booking</title>
        {% include 'railway/components/header.html' with selected="" %}
    </head>
    <body>
        {% include 'railway/components/ui_navbar.html' with selected="" %}
        <p>
            {{ example }}
        </p>
        
        <!-- bootstrap test -->
        <div class="container mt-4">
          <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password">

            <button type="submit" name="login">Login</button>
            <button type="submit" name="logout">Log Out</button>
          </form>
        
          {% if message %}
            <div class="alert">
                {{ message }}
            </div>
          {% endif %}
        </div>
    </body>
</html>