{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Railway Booking - Login</title>
        {% include 'railway/components/header.html' with selected="" %}
    </head>
    <body>
        {% include 'railway/components/ui_navbar.html' with selected="" %}

        <div class="container d-flex align-items-center justify-content-center min-vh-100">
            <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>

                    {% if message %}
                        <div class="alert alert-warning mt-3">
                            {{ message }}
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary w-100 mt-3" name="login">Sign In</button>

                </form>
            </div>
        </div>
    </body>
</html>
